.card {
  background-color: rgba(215, 215, 215, 0.826);
  border:none;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;  margin: 20px;
  width: 18rem;
}

.card-title {
  margin-bottom: 15px;
  font: bold;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

