#logoHenry {

  height: 100px;
  width: 250px;
  margin-right: 20px;
}

.searchBar{
  background-image: linear-gradient(
  0deg,
  hsl(196deg 86% 46%) 0%,
  hsl(196deg 76% 49%) 7%,
  hsl(196deg 73% 53%) 14%,
  hsl(196deg 73% 56%) 21%,
  hsl(196deg 73% 60%) 29%,
  hsl(196deg 73% 63%) 36%,
  hsl(196deg 72% 67%) 43%,
  hsl(196deg 71% 70%) 50%,
  hsl(196deg 70% 74%) 57%,
  hsl(196deg 69% 78%) 64%,
  hsl(196deg 67% 81%) 71%,
  hsl(196deg 64% 85%) 79%,
  hsl(196deg 58% 89%) 86%,
  hsl(196deg 46% 93%) 93%,
  hsl(0deg 0% 97%) 100%
  );
}

.About{
  padding: 10px 10px;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;

}